[submodule "deps/deps/skia"]
	path = deps/deps/skia
	url = https://skia.googlesource.com/skia.git
[submodule "OQQWall_rust.wiki"]
	path = OQQWall_rust.wiki
	url = https://github.com/gfhdhytghd/OQQWall_rust.wiki.git
